{% macro displaySources(sources) %}

    {% for source in sources %}

    <div class="" style="margin:3px;">
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 card" style="max-height:200px;">
        <h4>{{source.name}}</h4>
        <p>{{source.description | truncate(100) }}</p>
        <div class="card-footer">
        <small>category :{{source.category}}</small>
        <a class="btn btn-sm" style="background:white;color:blue;" href="/news-article/{{source.id}}">See articles</a>
      </div>
      </div>
      </div>


{% endfor %}
{% endmacro %}


{% macro showNewsArticles(articles) %}

  {% for article in articles %}
  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" style="height:450px;max-height:450px;">


    <div class="card" ">
      <div style="overflow:hidden;">

        <img src="{{article.image}}" alt="" class="img-responsive" style="max-height:220px;box-shadow: rgba(0,0,0,.3) 3px 0px 7px 0px">
      </div>
      <div class="card-body" style="box-shadow: rgba(0,0,0,.3) 3px -3px 7px 0px">
        <h4 class="card-header">{{article.title}}</h4>
        <p class="card-text">{{article.description | truncate(100)}}<a href="{{article.url}}" target="_blank" class="card-link">Read More</a></p>
        {% if author %}
        <small>{{article.author}} </small> <small>{{article.published | truncate(15) }}</small>
        {% else %}
        <small>Published on {{article.published }}</small>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}

{% endmacro %}
