<style media="screen">
  .breaking{
    background:rgba(0,0,100,.9);
    color:white;
    text-align:center;
    font-style:italic;
    padding:10px;
    font-weight:bolder;
    margin:0;
  }
  .top-nav{
    background:rgb(0,0,155);
    color:white;
    padding:0;
  }
  .head{
    font-size:2.3em;
    font-weight:bolder;
    margin:20px;

  }
  .text{
    text-decoration:none;
    font-size:15px;
    padding:10px;
    color:white;
    font-weight:bold;
  }
  .text:hover{
    background:white;
    color:blue
    text-decoration:none;
    padding:10px;
  }
</style>
<div class=" top-nav">
  <small class="head">Ur News</small>
  <a href="/" class="text">Home</a>
  <br>
  {% if four %}
  <p></p>
  {% else %}
  {% if title %}
  <h4 class="breaking">{{ title }} Headlines</h4>
  {% else %}
    {% if search_msg %}
  <h4 class="breaking">{{search_msg}}</h4>
    {% else %}
    <h4 class="breaking">{{brekingSite}} TOP NEWS </h4>
    {% endif %}
    {% endif %}
  {% endif %}
</div>
