{% import 'marcos.html' as macro %}
{% extends 'base.html' %}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/articles.css')}}">
{% endblock %}
{% block head %}
  {{ super() }}
  <style>
    body{
      font-family: 'Nunito', sans-serif;
    }
    .top{
      height :70vh;
      padding:0;
      color:white;
    }
    .bg{
      display:flex;
      flex-direction:column;
      justify-content:center;
      align-items: center;
      padding:40px;
    }
    .bg h3{
      font-size: 3em;
      padding:10px;
    }
    .bg small{
      font-size:15px;
      font-style: italic;
      padding:10px;
    }
    .card-body{
      padding:20px;
    }
    .card:hover{
      transition:.5s;
      background:rgba(0,0,0,.1)
    }
    .sources{
      text-align:center;
      font-weight:light;
      font-style:italic;
      padding:20px;
      position:relative;
    }
    .sources::before{
      content:'';
      position:absolute;
      top:40px;
      height:2px;
      background:blue;
      width:40%;
      right: 1.5%
    }
    .sources::after{
      content:'';
      position:absolute;
      top:40px;
      height:2px;
      background:blue;
      width:40%;
      left: 1.5%
    }
    .img-responsive{
      transition:.5s ease-in-out;
      filter: brightness(80%);
    }
    .card:hover .img-responsive{
      z-index:-1;
      transform:scale(1.2);
      filter: brightness(130%);
    }
  </style>
{% endblock %}

{% block content %}
<div class="container-fluid top" style="background: url({{randTop.image}}) no-repeat;background-size:cover;background-position:center;background-attachment:fixed;">
  <div class="bg container-fluid" style="text-align:center;background-color:rgba(0,0,0,.8);height:100%">
  <h3>{{randTop.title}}</h3>
  <small>{{randTop.description}}</small>
  <a href="{{randTop.url}}" target="_blank" class="btn btn-sm btn-primary">More Details</a>
  </div>
</div>
<h2 class="sources">Found Articles</h2>
<div class="container-fluid">
  <div class="row">
    {{ macro.showNewsArticles(articles) }}
  </div>
</div>

{% include 'footer.html' %}

{% endblock %}
